<f:layout name="Default" />

<f:section name="headline">
	<h1>UTF8 Converter</h1>
</f:section>

<f:section name="content">
	<p><f:translate key="txt_explain_page_list" /></p>

	<f:form action="convert">
		<f:form.hidden name="collation" value="{collation}" />
		<f:form.submit class="btn btn-primary" value="DB->utf8" />
	</f:form>

	<h2>{f:translate(key: 'previewOfCurrentTables')}</h2>
	<f:for each="{tables}" as="table">
		<h3>{table.Name}</h3>

		<dl>
			<dt>Engine</dt>
			<dd>{table.Engine}</dd>
			<dt>Collation</dt>
			<dd>{table.Collation}</dd>
		</dl>

		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Collation</th>
			</tr>
			</thead>
			<tbody>
				<f:for each="{table.columns}" as="column">
					<tr style="background-color: {f:if(condition: '{0: collation}=={0: column.Collation}', then: '#00FF00', else: '#FF0000')};">
						<td>{column.Field}</td>
						<td>{column.Type}</td>
						<td>{column.Collation}</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:for>
</f:section>
