<html lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="headline">
	<h1>{f:translate(key: 'txt_header')}</h1>
</f:section>

<f:section name="content">
	<f:form action="convert">
		<f:form.hidden name="collation" value="{collation}" />
		<f:form.submit class="btn btn-primary" value="{f:translate(key: 'btn_convert', arguments: {0: collation})}" />
	</f:form>

	<h2>{f:translate(key: 'previewOfCurrentTables')}</h2>

	<f:for each="{tables}" as="table">

		<h3>{table.Name}</h3>

		<dl>
			<dt>Engine</dt>
			<dd>{table.Engine}</dd>
			<dt>Collation</dt>
			<dd>{table.Collation}</dd>
		</dl>

		<table class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Collation</th>
			</tr>
			</thead>
			<tbody>
				<f:for each="{table.columns}" as="column">
					<f:variable name="bgClass">{f:if(condition: '{collation}=={column.Collation}', then: 'bg-success', else: 'bg-danger')}</f:variable>

					<tr class="{bgClass}">
						<td class="{bgClass}">{column.Field}</td>
						<td class="{bgClass}">{column.Type}</td>
						<td class="{bgClass}">{column.Collation}</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:for>
</f:section>
</html>
