<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="headline">
	<h1>UTF8 Converter</h1>
</f:section>

<f:section name="content">
	<div class="alert alert-warning">
		{f:translate(key: 'txt_welcome')}
	</div>
	<p>{f:translate(key: 'txt_tip')}</p>
	<p><code>[SYS][UTF8filesystem] = 1<br>[BE][forceCharset] = utf-8</code></p>

	<f:form action="dbCheck">
		<div class="form-group">
			<label for="collation">{f:translate(key: 'txt_choose_charset')}</label>
			<f:form.select id="collation"
						   class="form-control"
						   name="collation"
						   options="{collations}"
						   sortByOptionLabel="true"
						   value="utf8_general_ci"
						   size="1" />
		</div>
		<f:form.submit class="btn btn-primary" value="DB check" />
	</f:form>
</f:section>
</html>
