<html lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="headline">
	<h1>{f:translate(key: 'txt_header')}</h1>
</f:section>

<f:section name="content">
	<f:flashMessages />

	<p class="lead">{f:translate(key: 'txt_welcome')}</p>

	<f:form action="dbCheck">
		<div class="form-group">
			<label for="collation">{f:translate(key: 'txt_choose_charset')}</label>
			<f:form.select id="collation"
						   class="form-control"
						   name="collation"
						   options="{collations}"
						   sortByOptionLabel="true"
						   value="utf8_general_ci"
						   size="1" />
		</div>

		<f:form.submit class="btn btn-primary" value="{f:translate(key: 'txt_check_db')}" />
	</f:form>
</f:section>
</html>
